/* Scss Document */
/* CREATED BY DAVID HUCK FOR HOMEWOORK.HTML */

div#homeWork{
	padding-left: 25px;
	
	li{
		list-style-type: circle;
		color: black;
		margin-left: 10px;
	}
	
	ul li a{
		text-decoration: none;
		color: black;
	}
	
	ul li a:hover{
		color: rgba(75, 119, 190, 1);
	}
}